@import "./buttonSet.css";
@import "./buttonSlider.css";


.heading {
    margin: 0 0 30px 0;
}
h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: var(--text-primary);
}

.subheading:nth-child(1) {
    margin-top: 10px;
}
.subheading {
    margin-top: 70px;
    height: 36px;
    padding-bottom: 10px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, transparent 0%, var(--accent-secondary) 1%, var(--accent-secondary) 99%, transparent 100%) 1;
}
.subheading-section {
    flex: 1 1 0;
    align-items: flex-end;
}
.subheading-section.center {  justify-content: center; align-items: center;}
.subheading-section.right {  justify-content: right;  align-items: center;}
.subheading-section > h2 {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding-right: 6px;
    color: var(--text-primary);
}
.subheading-section > .alt-text-link {
    display: inline-block;
    text-decoration: underline;
    font-size: 16px;
    margin: 9px 6px 4px 6px;
    color: var(--accent-secondary);
    cursor: pointer;
}
.subheading-section > .alt-text-link:hover {
    color: var(--accent-primary);
}

