/* Todo: Get rid of unused styles, it's a mess */

/* Wrappers and setup */
#navbar-user-tab-wrapper {
    height: 60px;
    position: relative;
}

#navbar-user-tab-menu {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--border-secondary);
    border-radius: 14px;
    overflow: hidden;
    justify-content: flex-end;

    transition: height .2s;
}
/* User main tab */
#navbar-user-tab {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    min-height: 54px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 0px 7px;

    transition: background-color .2s;
}
#navbar-user-tab:hover { background-color: var(--background-select); }
#navbar-user-tab.active { background-color: var(--background-select); }

#navbar-pfp {
    height: 40px;
    border-radius: 8px;
    position: relative;
    width: 50px;
    background-color: var(--border-secondary);
    background-size: contain;
}

#navbar-user-info {
    margin-left: 9px;
    width: 100%;
}

#navbar-username {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    height: 26px;
}

#navbar-user-clock-in-status {
    width: 100%;
    margin-bottom: 3px;
    align-items: center;
}

#navbar-user-clock-in-status > .indicator-bubble {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: var(--accent-yellow-primary);

    transition: background-color .1s;
}
#navbar-user-clock-in-status > .indicator-bubble.clocked-in { background-color: var(--accent-green-primary); }

#navbar-user-clock-in-status > .label {
    font-size: 13px;
    margin: 0;
    color: var(--text-secondary);
}
#navbar-user-clock-in-status > .running-time {
    margin-right: 4px;
}


/* User menu option tabs */
.navbar-user-option-dropdown {
    --flair-background: transparent;
    --flair-background-hover: var(--accent-green-secondary);
    --flair-border: var(--accent-green-primary);
    --flair-border-hover: var(--flair-border);

    margin: 10px 8px 2px 8px;
    box-sizing: border-box;
    border: 3px solid var(--flair-border);
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    
    transition: height .2s, border-color .2s, background-color .2s;
}
#clock-in-group.flair-clock-in { 
    --flair-background: transparent;
    --flair-background-hover: var(--accent-green-secondary);
    --flair-border: var(--accent-green-primary);
    --flair-border-hover: var(--flair-border);
}
#clock-in-group.flair-clock-out { 
    --flair-background: var(--accent-red-secondary);
    --flair-background-hover: var(--accent-red-secondary);
    --flair-border: var(--accent-red-primary);
    --flair-border-hover: var(--accent-red-primary);
}
#clock-in-group.flair-prompt { 
    --flair-background: var(--accent-secondary);
    --flair-background-hover: var(--flair-background);
    --flair-border: var(--accent-primary);
    --flair-border-hover: var(--flair-border);
}
#clock-in-group.error-flair { 
    
}
#clock-in-group { height: 50px; }
#clock-in-group.open { height: 160px; }


.navbar-user-dropdown-tab { 
    background: var(--flair-background) !important;
    margin: 0px !important; 
    transition: fill .1s, color .1s, background-color .2s !important;
}
.navbar-user-dropdown-tab.invisible { 
    color: transparent !important;
    fill: transparent !important;
    transition: height .2s, border-color .2s, background-color .1s .1s;
}
.navbar-user-dropdown-tab:hover { 
    background: var(--flair-background-hover);
}
.navbar-user-dropdown-tab:first-child { 
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important; 
}
.navbar-user-dropdown-tab:last-child {    
    border-bottom-left-radius: 0 !important; 
    border-bottom-right-radius: 0 !important;  
}

.navbar-user-dropdown-tab.confirmation-wrapper {
    background-color: transparent !important;
    cursor: default;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 4px !important;
    color: var(--text-primary);
    fill: var(--text-secondary);

    transition: opacity .1s .1s !important;
}
.navbar-user-dropdown-tab.confirmation-wrapper:hover {
    color: var(--text-secondary) !important;
}
#clock-in-info-prompt.invisible {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s !important;
}
#clock-in-info-prompt.clock-out:hover {
    opacity: 1;
}
.navbar-user-dropdown-tab > .confirmation-message {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    margin-left: 5px;
}
.navbar-user-dropdown-tab > .confirmation-icon {
    cursor: pointer;
    background: var(--border-primary);
    padding: 4px;
    box-sizing: border-box;
    margin: 0 3px;
    width: 35px !important;
    height: 30px;
    border-radius: 7px;
}
.navbar-user-dropdown-tab > .confirmation-icon:hover { fill: var(--text-primary); }
.navbar-user-dropdown-tab > .confirmation-icon.accept {
    padding: 4px;
}
.navbar-user-dropdown-tab > .confirmation-icon.accept:hover { background: var(--accent-green-primary); }
.navbar-user-dropdown-tab > .confirmation-icon.reject {
    padding: 6px;
}
.navbar-user-dropdown-tab > .confirmation-icon.reject:hover { background: var(--accent-red-primary); }

#navbar-user-clock-in-session {
    padding: 8px 12px 12px 12px;
    background: var(--background-select);
    margin: 10px 8px;
    border-radius: 8px;
}
#navbar-user-clock-in-session > p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
    color: var(--text-primary);
}
#navbar-user-clock-in-session > .label {
    float: left;
    width: 30%;
}
#navbar-user-clock-in-session > .link {
    color: var(--text-secondary);
    float: right;
    width: 69%;
    font-weight: normal;
    pointer-events: none;
}
#navbar-user-clock-in-session > .link.active {
    text-decoration: underline;
    cursor: pointer;
    pointer-events: initial;
}
#navbar-user-clock-in-session > .link.active:hover {
    color: var(--accent-primary);
}
#navbar-user-clock-in-session > .heading {
    margin-bottom: 7px;
    color: var(--text-primary);
    font-size: 16px;
    padding: 0;
}

.disable-transitions {
    transition-timing-function: cubic-bezier(1, 0, 1, 0) !important;
}
.disable-transitions  * {
    transition-timing-function: cubic-bezier(1, 0, 1, 0) !important;
}